<template>
    <div class="front-overlay">
        <panel :cancel-action="cancelAction" :css-class="[ 'panel--dark' ]">
            <div slot="header">
                <panel-header v-if="isReady()" :sub-title="'pagina'" :title="getPageTitle()"
                              :cancel-action="cancelAction"></panel-header>
            </div>
            <div slot="section" v-if="isReady()">
                <div class="accordion">

                    <template v-for="(groupIndex, group) in getGroups()">
                        <div class="accordion__block" v-for="(name, items) in group">
                            <template v-if="show(items, name)">
                                <div class="accordion__header sc-row-with-circle-button"
                                     @click="toggleAccordionItem(groupIndex)"
                                     :class="[{ 'accordion__header--expand': showAccordionItem(groupIndex) }]">
                                    <div class="content-width">
                                        <div class="grid">
                                            <div class="row">
                                                <div class="col col--full accordion__header-text-col">
                                                    <div class="accordion__title">{{ name }}</div>
                                                    <div class="accordion__caption" v-if="getOption(name, 'sub_title')">
                                                        {{{ getOption(name, 'sub_title') }}}
                                                    </div>
                                                </div>
                                                <div class="col col--full accordion__header-icon-col">
                                                    <div class="icon">
                                                        <div class="c-ab sc-button sc-button--accordion-dark header-arrow-down">
                                                            <div class="xsprite-cms xsprite-cms--icon-arrow-down xsprite-cms--white"></div>
                                                        </div>
                                                        <div class="c-ab sc-button sc-button--accordion-light header-arrow-up">
                                                            <div class="xsprite-cms xsprite-cms--icon-arrow-up xsprite-cms--black"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="accordion__content"
                                     :class="{ 'accordion__content--expand': showAccordionItem(groupIndex) }">
                                    <div class="accordion__content-inner">
                                        <div class="content-width">
                                            <div class="panel__fieldgroup-content">
                                                <template v-for="(itemIndex, item) in items">
                                                    <template v-if="item.t == 'ec' && entityIsReady(item.v.value)">

                                                        <template v-if="isType(item.v.value, 'asset')">

                                                            <image-field
                                                                    v-if="!entities[item.v.value].settings.multi"
                                                                    :model="entities[item.v.value]"
                                                                    :key="(entities[item.v.value].settings.translatable) ? 'assets-' + getDataLanguage: 'assets'"
                                                                    :key-id="item.t + '' +  itemIndex"
                                                                    :level="level"
                                                                    :max="1"
                                                                    :on-change-action="onChange"
                                                                    :meta-data="{type: 'entity', id: item.v.value, group: name}"
                                                                    :label="item.v.label"
                                                                    :is-global="entities[item.v.value].global > 0"></image-field>
                                                            <image-field
                                                                    v-if="entities[item.v.value].settings.multi"
                                                                    :model="entities[item.v.value]"
                                                                    :key="(entities[item.v.value].settings.translatable) ? 'assets-' + getDataLanguage: 'assets'"
                                                                    :key-id="item.t + '' +  itemIndex"
                                                                    :level="level"
                                                                    :on-change-action="onChange"
                                                                    :meta-data="{type: 'entity', id: item.v.value, group: name}"
                                                                    :label="item.v.label"
                                                                    :is-global="entities[item.v.value].global > 0"></image-field>
                                                        </template>
                                                        <template v-if="isType(item.v.value, 'text')">
                                                            <!--<text-editor-->
                                                                    <!--:model="entities[item.v.value].content[getDataLanguage]"-->
                                                                    <!--:property="'text'" :language="getDataLanguage"-->
                                                                    <!--:on-change-action="onChange"-->
                                                                    <!--:meta-data="{type: 'entity', id: item.v.value, group: name}"-->
                                                                    <!--:prefix="'frontoverview'" :label="item.v.label"-->
                                                                    <!--:is-global="entities[item.v.value].global > 0"></text-editor>-->
                                                            <text-widget-item
                                                                    :on-change-action="onChange"
                                                                    :meta-data="{type: 'entity', id: item.v.value, group: name}"
                                                                    :level="level+1"
                                                                    :model="entities[item.v.value]"></text-widget-item>

                                                        </template>
                                                        <template v-if="isType(item.v.value, 'datalist')">
                                                            <datalist-widget-item :level="level"
                                                                                  :model="entities[item.v.value]"
                                                                                  :settings="entities[item.v.value].settings"
                                                                                  :on-change-action="onChange"
                                                                                  :meta-data="{type: 'entity', id: item.v.value, group: name}"
                                                                                  :label="item.v.label"
                                                                                  :is-global="entities[item.v.value].global > 0"></datalist-widget-item>
                                                        </template>
                                                        <template v-if="isType(item.v.value, 'form')">
                                                            <div class="form__field" v-if="entities[item.v.value]['settings']['show_mail_from'] === undefined || entities[item.v.value]['settings']['show_mail_from']">
                                                                <input id="page-verzender" class="form__field-input"
                                                                       :class="{ 'form__field-input--active': entities[item.v.value]['settings']['mail_from'] }"
                                                                       type="text"
                                                                       v-model="entities[item.v.value]['settings']['mail_from']"
                                                                       @change="onChange({type: 'entity', id: item.v.value, group: name})">
                                                                <label for="page-verzender" class="form__field-label">Verzender</label>
                                                            </div>
                                                            <div class="form__field" v-if="entities[item.v.value]['settings']['show_mail_to'] === undefined || entities[item.v.value]['settings']['show_mail_to']">
                                                                <input id="page-ontvanger" class="form__field-input"
                                                                       :class="{ 'form__field-input--active': entities[item.v.value]['settings']['mail_to'] }"
                                                                       type="text"
                                                                       v-model="entities[item.v.value]['settings']['mail_to']"
                                                                       @change="onChange({type: 'entity', id: item.v.value, group: name}) ">
                                                                <label for="page-ontvanger" class="form__field-label">Ontvanger</label>
                                                            </div>
                                                            <div class="form__field">
                                                                <button class="c-dib sc-button sc-button--secondary"
                                                                        @click="routeGo(routeAppendAction({action: 'panel.' + entities[item.v.value]['settings']['panel']}))">bekijk inzendingen
                                                                </button>
                                                                <label class="form__field-label">Inzendingen</label>
                                                            </div>
                                                        </template>
                                                        <template v-if="isType(item.v.value, 'metatag')">
                                                            <metatag-widget-item :level="level"
                                                                                 :settings="entities[item.v.value].settings"
                                                                                 :content="entities[item.v.value].content"
                                                                                 :images="entities[item.v.value]"
                                                                                 :on-change-action="onChange"
                                                                                 :meta-data="{type: 'entity', id: item.v.value, group: name}">
                                                            </metatag-widget-item>
                                                        </template>
                                                        <template v-if="isType(item.v.value, 'page-title')">
                                                            <page-title-widget-item :level="level"
                                                                                 :settings="entities[item.v.value].settings"
                                                                                 :content="entities[item.v.value].content"
                                                                                 :on-change-action="onChange"
                                                                                 :meta-data="{type: 'entity', id: item.v.value, group: name}">
                                                            </page-title-widget-item>
                                                        </template>
                                                        <template v-if="isType(item.v.value, 'checkbox')">
                                                            <checkbox   :model="entities[item.v.value].content"
                                                                        :property="'checked'"
                                                                        :meta-data="{type: 'entity', id: item.v.value, group: name}"
                                                                        :label="item.v.label"
                                                                        :prefix="'frontoverview'"
                                                                        :on-change-action="onChange"
                                                                        :is-global="entities[item.v.value].global > 0" >
                                                            ></checkbox>
                                                        </template>
                                                    </template>
                                                    <template v-if="item.t == 'tc' && tokenIsReady(item.v.value)">
                                                        <template v-if="tokens[item.v.value].type == 'image'">
                                                            <image-field :model="tokens[item.v.value]" :key="'asset'"
                                                                         :key-id="item.t + '' + itemIndex"
                                                                         :level="level"
                                                                         :max="1" :on-change-action="onChange"
                                                                         :meta-data="{type: 'token', id: item.v.value, group: name}"
                                                                         :label="item.v.label"></image-field>
                                                        </template>
                                                        <template v-if="tokens[item.v.value].type == 'text'">
                                                            <text-editor
                                                                    :model="tokens[item.v.value].translations[getDataLanguage]"
                                                                    :property="'value'" :language="getDataLanguage"
                                                                    :on-change-action="onChange"
                                                                    :meta-data="{type: 'token', id: item.v.value, group: name}"
                                                                    :prefix="'frontoverview'" :label="item.v.label"
                                                                    :is-global="true"></text-editor>
                                                        </template>
                                                    </template>
                                                    <template
                                                            v-if="item.t == 'dcc' && fetchedDataRecords && gotDataRecords(item.v.value)">

                                                        <div class="data-table-preview"
                                                             :class="{ 'data-table-preview--expand': showDataRecordsHiddenItems(item.v.value) }">
                                                            <label class="form__field-label">
                                                                {{ item.v.label }}
                                                                <!--<div class="form__label-subscript">{{
                                                                    getDataRecordsLength(dataRecords[item.v.value]['records'])
                                                                    }} items
                                                                </div>-->
                                                            </label>
                                                            <div class="data-table-preview__action-button"
                                                                 :class="['ds' + dataRecords[item.v.value]['slug']]">
                                                                <div class="c-df sc-button sc-button--circle-and-label sc-button--list-addnew"
                                                                     @click="gotoDataAction(replaceUnderscore(dataRecords[item.v.value]['slug']), 'detail', 0)">
                                                                    <div class="sc-button__circle">
                                                                        <div class="sc-button__icon">
                                                                            <div class="c-ab xsprite-cms xsprite-cms xsprite-cms--icon-plus xsprite-cms--black icon-black"></div>
                                                                            <div class="c-ab xsprite-cms xsprite-cms xsprite-cms--icon-plus xsprite-cms--white icon-white"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc-button__label">item toevoegen</div>
                                                                </div>
                                                            </div>
                                                            <div v-if="!isSortable('collection', item.v.value)" class="data-table-preview__rows">
                                                                <div class="data-table-preview__row sc-row-with-circle-button"
                                                                     v-for="(recordIndex, recordId) in dataRecords[item.v.value]['order']"
                                                                     @click="gotoDataAction(replaceUnderscore(dataRecords[item.v.value]['slug']), 'detail', recordId)">
                                                                    <div class="data-table-preview__col text-col">
                                                                        <div class="truncate-text">
                                                                            {{
                                                                            replaceDataDisplay(dataRecords[item.v.value]['data_display'],
                                                                            dataRecords[item.v.value]['records'][recordId])
                                                                            }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="data-table-preview__col icon-col">
                                                                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-right xsprite-cms--white arrow"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div  v-show="isSortable('collection', item.v.value)" class="data-table-preview__rows">
                                                                <!--v-for="(recordIndex, recordId) in dataRecords[item.v.value]['order']"-->
                                                                <!--options='{"onSort": function (evt){console}}' -->

                                                                <!--<div class="data-table-preview__row sc-row-with-circle-button"
                                                                     v-for="(recordIndex, recordId) in dataRecords[item.v.value]['order']"
                                                                     @click="gotoDataAction(replaceUnderscore(dataRecords[item.v.value]['slug']), 'detail', recordId)">
                                                                    <div class="data-table-preview__col text-col">
                                                                        <div class="truncate-text">
                                                                            {{
                                                                            replaceDataDisplay(dataRecords[item.v.value]['data_display'],
                                                                            dataRecords[item.v.value]['records'][recordId])
                                                                            }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="data-table-preview__col icon-col">
                                                                        <div class="drag"></div>
                                                                        <div class="xsprite-cms xsprite-cms xsprite-cms&#45;&#45;icon-arrow-right xsprite-cms&#45;&#45;white arrow"></div>
                                                                    </div>
                                                                </div>-->

                                                                <div class="data-table-preview__row sc-row-with-circle-button"
                                                                     :data-id="item.v.value"
                                                                     v-dragable-for="(recordIndex, recordId) in dataRecords[item.v.value]['order']"
                                                                     :options='{onSort: onSortDcc, animation: 100, scrollSensitivity: 120}'
                                                                     @click="gotoDataAction(replaceUnderscore(dataRecords[item.v.value]['slug']), 'detail', recordId)">
                                                                    <div class="data-table-preview__col text-col">
                                                                        <div class="truncate-text">
                                                                            {{
                                                                            replaceDataDisplay(dataRecords[item.v.value]['data_display'],
                                                                            dataRecords[item.v.value]['records'][recordId])
                                                                            }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="data-table-preview__col icon-col">
                                                                        <div class="drag"></div>
                                                                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-right xsprite-cms--white arrow"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-table-preview__footer">
                                                                <div class="row row--between row--middle">
                                                                    <div class="col col--full col--4">
                                                                        <div class="c-dib sc-button sc-button--primary"
                                                                             v-if="getDataRecordsLength(dataRecords[item.v.value]['records']) > 4 && !showDataRecordsHiddenItems(item.v.value)"
                                                                             @click="toggleDataRecordsHiddenItems(item.v.value, $event)">
                                                                            alle {{
                                                                            getDataRecordsLength(dataRecords[item.v.value]['records'])
                                                                            }} items
                                                                            <div class="c-ab xsprite-cms xsprite-cms--icon-caret-down xsprite-cms--white icon"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col col--full col--1 c-df center">

                                                                    </div>
                                                                    <div class="col col--full col--4 c-tr">
                                                                        <a class="c-dib sc-button sc-button--secondary"
                                                                           @click="gotoDataAction(replaceUnderscore(dataRecords[item.v.value]['slug']), 'overview')">
                                                                            data
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                            <div class="form__footer" v-if="showSaveGroupButton(items)">
                                                <div class="row row--between row--middle buttons">
                                                    <div class="col col--full col--4">
                                                    </div>
                                                    <div class="col col--full col--4 c-tc">
                                                        <button class="c-dib sc-button sc-button--submit"
                                                                @click="saveGroup(name)">opslaan
                                                        </button>
                                                    </div>
                                                    <div class="col col--full col--4 c-tr">
                                                        <button class="c-dib sc-button sc-button--simple-text"
                                                                @click="cancelAndCloseGroup(name, groupIndex)">sluiten
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </template>
                    <!--Tijdelijk verborgen. Levert problemen op indien gebruiker pagina op "offline" zet. Stijlen zullen ge-update moeten worden bij opnieuw activeren-->
                    <!--<div class="accordion__block">
                        <div class="accordion__header sc-row-with-circle-button" @click="toggleAccordionItem('page-settings')" :class="{ 'accordion__header&#45;&#45;expand': showAccordionItem('page-settings') }">
                            <div class="content-width">
                                <div class="grid">
                                    <div class="row">
                                        <div class="col col&#45;&#45;full accordion__header-text-col">
                                            <div class="accordion__title">Pagina - instellingen</div>
                                            <div class="accordion__caption">Algemene instellingen voor deze pagina</div>
                                        </div>
                                        <div class="col col&#45;&#45;full accordion__header-icon-col">
                                            <div class="col col&#45;&#45;full accordion__header-icon-col">
                                                <div class="c-ab sc-button sc-button&#45;&#45;circle sc-button&#45;&#45;accordion-dark large-circle header-arrow-down">
                                                    <div class="xsprite-cms xsprite-cms&#45;&#45;icon-arrow-down xsprite-cms&#45;&#45;white"></div>
                                                </div>
                                                <div class="c-ab sc-button sc-button&#45;&#45;circle sc-button&#45;&#45;accordion-light large-circle header-arrow-up">
                                                    <div class="xsprite-cms xsprite-cms&#45;&#45;icon-arrow-up xsprite-cms&#45;&#45;black"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__content" :class="{ 'accordion__content&#45;&#45;expand': showAccordionItem('page-settings') }">
                            <div class="accordion__content-inner">
                                <div class="content-width">

                                    <checkbox
                                            :model="page"
                                            :property="'online'"
                                            :label="'Live'"
                                            :prefix="'page'"
                                            :on-click-action="savePageOnline"></checkbox>

                                    <div class="form__footer">
                                        <div class="row row&#45;&#45;between row&#45;&#45;middle buttons">
                                            <div class="col col&#45;&#45;full col&#45;&#45;4">
                                            </div>
                                            <div class="col col&#45;&#45;full col&#45;&#45;4 c-tc">
                                                <button class="c-dib sc-button sc-button&#45;&#45;submit" @click="saveGroup(name)">opslaan</button>
                                            </div>
                                            <div class="col col&#45;&#45;full col&#45;&#45;4 c-tr">
                                                <button class="c-dib sc-button sc-button&#45;&#45;secondary" @click="cancelAndCloseGroup(name, 'page-settings')">sluiten</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>


        </panel>

        <!--<component v-bind:is="currentView" v-if="showComponent(currentAction)" :level="level+1"></component>-->
        <component :is="currentView" v-if="showComponent(currentAction)" :level="level+1"></component>
        <!--<component :is="'data_table_overview'" v-if="showComponent(currentAction)" :level="level+1"></component>-->
        <!--<component :is="'data_table_detail'" v-if="routeHasAction('panel.data_table_detail/' + dataSource)" :level="level+1"></component>-->
    </div>
</template>

<script>
    // import VueDragableFor from 'vuedragablefor'
    // Vue.use(VueDragableFor)

    import VueDraggable from 'vuedraggable'
    Vue.use(VueDraggable)

    let FrontOverviewMixin = appMake('FrontOverviewMixin')

    export default {
        mixins: [FrontOverviewMixin],
        data(){
            return {
                accordion: [],
                hiddendatarecords: []
            }
        },
        ready() {
            /*
             Vue.nextTick(function() {
             var accordionheaders = document.querySelectorAll(".accordion__header");
             console.log(accordionheaders)
             for(var i = 0; i < accordionheaders.length; i++ ) {
             console.log(accordionheaders[i])
             }
             })

             */

            /*[0].addEventListener('click', function(event) {
             var target = event.target || event.srcElement;
             alert(target);
             });*/
        },
        methods: {
            cancelAndCloseGroup(name, groupIndex) {
                this.cancelGroup(name)
                this.toggleAccordionItem(groupIndex)
            },
            getDataRecords(id, prop){
                if (!this.gotDataRecords(id))
                    return '';

                return this.dataRecords[id][prop];
            },
            getDataRecordsLength(records) {
                return Object.keys(records).length
            },
            getPageTitle(){
                if (this.page.label)
                    return this.page.label

                if (this.page.is_home_page)
                    return 'home'

                let url = window.location.pathname.split('#!/')
                if (url[0] === undefined)
                    return ''

                url = url[0].split('?')
                if (url[0] === undefined)
                    return ''

                let segments = url[0].split('/')
                if (segments[segments.length - 1] === undefined)
                    return ''

                return segments[segments.length - 1]
            },
            gotDataRecords(id){
                return !_.isUndefined(this.dataRecords[id]);
            },
            onDragEnd() {
                console.log("on drag end")
            },
            replaceUnderscore(haystack){
                return haystack.replace(/-/g, '_')
            },
            show(items, name){
                if (name == 'exclude')
                    return false

                return items.length > 0
            },
            showAccordionItem(id) {
                return _.indexOf(this.accordion, id) != -1
            },
            showDataRecordsHiddenItems(id) {
                return _.indexOf(this.hiddendatarecords, id) != -1
            },
            showComponent(currentAction){

                // -- a quick hack :( to fix when have time!
                if (this.currentView && this.currentView.indexOf('assets.') == 0)
                    return false

                // -- a quick hack :( to fix when have time!
                if (this.currentView == 'datalist_item')
                    return false

                // -- a quick hack :( to fix when have time!
                if (this.currentView && this.currentView.indexOf('datalist_item.') == 0)
                    return false



                return this.routeHasAction(currentAction)
            },
            toggleAccordionItem(id){
                if (_.indexOf(this.accordion, id) == -1) {
                    this.accordion.push(id)
                } else {
                    this.accordion.$remove(id)
                }
            },
            toggleDataRecordsHiddenItems(id, event){
                if (_.indexOf(this.hiddendatarecords, id) == -1) {
                    this.hiddendatarecords.push(id)
                } else {
                    this.hiddendatarecords.$remove(id)
                }
            }
        }
    }

</script>
