<template>
    <div>
        <panel>
            <div slot="header">
                <panel-header :sub-title="'site name'" :title="'Pagina\'s'"
                              :cancel-action="cancelAction"></panel-header>
            </div>
            <div slot="section" v-if="isReady()">
                <div class="panel__content-form">
                    <ul class="page-tree">
                        <template v-for="node in getTree()">
                            <li class="page-tree__item page-tree__item-content" :class="[ getCssClassLevel(node.level), pages[node.id].is_dynamic == 1 ? 'page-tree__item--readonly' : '' ]">
                                <a class="c-db" v-if="pages[node.id].is_dynamic == 0"
                                   href="{{ pages[node.id]['translations'][getDataLanguage]['url'] }}#!/page/#edit">{{
                                    pages[node.id].slug }}</a>
                                <div class="page-tree__readonly-item" v-if="pages[node.id].is_dynamic == 1">{{ pages[node.id].slug }}</div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </panel>
    </div>
</template>

<script>
    let FrontPagesOverviewMixin = appMake('FrontPagesOverviewMixin')
    let PanelContentHeader = appMake('PanelContentHeader.vue')

    export default {
        components: {PanelContentHeader},
        mixins: [FrontPagesOverviewMixin],
        methods: {
            getCssClassLevel(level) {
                return "page-tree__item--level" + level;
            }
        }
    }
</script>
