<template>
    <panel :cancel-action="close" :css-class="['panel--dark']">
        <div slot="header">
            <panel-header :show-menu-button="false" :sub-title="'menu'" :title="" :cancel-action="close"></panel-header>
        </div>
        <div slot="section">
            <div class="menu-list">
                <ul>
                    <li class="menu-list__primary-item"><a href="javascript:;"
                                                           @click.prevent="goto({path:'/admin/#panel.pages_overview'})">Pagina's</a>
                    </li>
                </ul>
                <ul>
                    <template v-for="dataSource in dataSources | orderBy 'order' | filterBy 1 in 'visible'">
                        <li class="menu-list__primary-item" v-if="dataSource.type == ''">
                            <a href="javascript:;"
                               @click.prevent="gotoAction('panel.data_' + dataSource.slug.replace('-','_')  + '_overview')">{{dataSource.label}}</a>
                        </li>
                    </template>
                </ul>
                <ul>
                    <template v-for="dataSource in dataSources | orderBy 'order' | filterBy 1 in 'visible'">
                        <li class="menu-list__primary-item" v-if="dataSource.type == 'form'">
                            <a href="javascript:;"
                               @click.prevent="gotoAction('panel.data_' + dataSource.slug.replace('-','_')  + '_overview')">{{dataSource.label}}</a>
                        </li>
                    </template>
                </ul>
                <ul>
                    <li class="menu-list__secondary-item"><a href="javascript:;"
                                                             @click.prevent="goto({path:'/admin/#panel.assets_overview'})">Media</a>
                    </li>
                    <li class="menu-list__secondary-item"><a href="javascript:;"
                                                             @click.prevent="goto({path:'/admin/settings'})">Instellingen</a>
                    </li>
                    <li class="menu-list__secondary-item"><a href="/auth/logout">Uitloggen</a></li>
                </ul>
            </div>
        </div>
    </panel>
</template>

<script>

    let FrontMainMenuMixin = appMake('FrontMainMenuMixin')

    export default {
        mixins: [FrontMainMenuMixin]
    }
</script>
