.login {
  width: 100%;
  height: 100%;
  position: fixed;
  background: $c-color-bg;
  display: flex;
  align-items: center;
  // justify-content: center;

  .form {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      flex: 0 1 500px;
  }

  .form__logo {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 130px;
  }

  .form__field-label,
  .form__field-input {
      padding-left: 10px;
      padding-right: 10px;
      //border-radius: 3px;
  }

  .form__field-input {
      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $c-color-bg inset;
      }
      background-color: #000;
      color: $c-color-text-light;
      -webkit-text-fill-color: $c-color-text-light !important;
      border: none;
      appearance: none;
      border-bottom: solid 1px $c-color-medium-faded-grey;
      transition: none;

      &:focus {
          border-bottom: solid 1px $c-color-text-light;
          /*box-shadow: 0 0 0px 1000px $c-color-bg inset, 0 1px 0 0 $c-color-text-light;*/
      }

      &::selection {
          background: $c-color-white;
          color: $c-color-bg;
      }
  }

  .form__field-label {
      transform: translateX(-200px);
  }

  .form__footer {
      color: $c-color-text-light;
  }

}
