// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// GENERAL
// -----------------------------------------------------------------------------
// Define a short prefix for your project.
$c-project-prefix: 'sc';

/// Relative or absolute URL where all assets are served from.
$c-base-url: '../../' !default;

$c-site-max-width: 1180px !default;
$c-text-max-width: 1020px !default;

$c-site-padding: 15px;
$c-site-padding-mobile: 15px;
$c-site-padding-tablet: 15px;
$c-site-padding-desktop: 15px;
$c-site-padding-wide: 15px;

$c-sprite: url($c-base-url + 'images/boness/skinn_cms_sprite.png');
$c-sprite-svg: url($c-base-url + 'images/boness/skinn_cms_sprite.svg');


// COLOURS
// -----------------------------------------------------------------------------
$c-color-text: #222;
$c-color-icon: #EFEFEF;

$c-color-white: #FFFFFF;              //white
$c-color-light-grey: #EAEAEA;         //lighter
$c-color-faded-grey: #BBBBBB;         //light
$c-color-medium-faded-grey: #777777;  //medium
$c-color-medium-grey: #2B2B2B;        //dark
$c-color-dark-grey: #151515;          //darker
$c-color-bg: #000000;                 //black

$c-color-accent: #2231e7;
$c-color-accent-gradient-light: #4056FF;
$c-color-accent-gradient-dark: #050ED0;

$c-color-text-light: #EFEFEF;



// SPACERS
// -----------------------------------------------------------------------------
.#{$c-project-prefix}-spacer {
    width: 100%;
}
$c-spacer-sizes: (
    'small': (
        'mobile': 20px,
        'tablet': 20px,
        'desktop': 20px,
        'wide': 20px
    )
);


// GRID
// -----------------------------------------------------------------------------
// Generally, you don't have to change these settings.
// Only do so if you really have to.
$c-columns: 12 !default;
$c-column-width: 81px !default;
$c-gutter-width: 18px !default;
$c-fixed-gutter-size: true !default;

// Panel
$panel-header-height: 135px;

// Backoffice
$sidebar-width: 250px;
$mainmenu-active-trianglesize: 8px;

// Old grid settings
$xgutter: 20px;
$xgutter--tablet: 20px;
$xgutter--desktop: 20px;
$xgutter--wide: 20px;


// TYPOGRAPHY
// -----------------------------------------------------------------------------
// Font stacks
// (These stacks can be renamed if necessary.)
$c-fontstack-default: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$c-fontstack-bold: 'Roboto', 'Helvetica Bold', 'Arial Bold', sans-serif !default;
$c-fontstack-helveticaneue: 'HelveticaNeueMedium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$c-fontstack-helveticaneue-bold: 'HelveticaNeueBold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Types of fonts
// (These variable names may not be changed!)

// Text
$xfontsize: 14px;
$xfontsize--tablet: 14px;
$xfontsize--desktop: 14px;
$xfontsize--wide: 14px;

$xlineheight: 100%;
$xlineheight--tablet: 100%;
$xlineheight--desktop: 100%;
$xlineheight--wide: 100%;

$c-fontweight: normal;

// Titles
.#{$c-project-prefix}-title {
    font-weight: normal;
    font-family: $c-fontstack-bold;
}
$c-title-sizes: (
    'small': (
        '': (12px, 12px)
    ),
    'default': (
        '': (16px, 16px)
    ),
    'medium': (
        '': (24px, 24px)
    ),
    'large': (
        '': (42px, 42px),
    )
);

// Buttons
$xbtn__fontsize: 16px;
$xbtn__fontsize--tablet: 16px;
$xbtn__fontsize--desktop: 16px;
$xbtn__fontsize--wide: 16px;
