<template>
    <div v-if="routeAware && total>getQueryValue('max')">
        <ul class="pager">
            <li v-if="prev">
                <div class="c-dib sc-button sc-button--circle sc-button--pager" v-link="getPageLink(prev)">
                    <div class="sc-button__circle">
                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-left xsprite-cms--white"></div>
                    </div>
                </div>
            </li>
            <li v-for="index in buttons">
                <div class="c-dib sc-button sc-button--circle sc-button--pager" :class="{active: index+1 == getQueryValue('page')}" v-link="getPageLink(index+1)">
                    <div class="sc-button__circle">
                        <div>{{index+1}}</div>
                    </div>
                </div>
            </li>
            <li v-if="next">
                <div class="c-dib sc-button sc-button--circle sc-button--pager" v-link="getPageLink(next)">
                    <div class="sc-button__circle">
                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-right xsprite-cms--white"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div v-if="! routeAware && total>getQueryValue('max')">
        <ul class="pager">
            <li v-if="prev">
                <div class="c-dib sc-button sc-button--circle sc-button--pager" @click.prevent="getPageLink(prev)">
                    <div class="sc-button__circle">
                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-left xsprite-cms--white"></div>
                    </div>
                </div>
            </li>
            <li v-for="index in buttons">
                <div class="c-dib sc-button sc-button--circle sc-button--pager" :class="{active: index+1 == getQueryValue('page')}" @click.prevent="getPageLink(index+1)">
                    <div class="sc-button__circle">
                        <div>{{index+1}}</div>
                    </div>
                </div>
            </li>
            <li v-if="next">
                <div class="c-dib sc-button sc-button--circle sc-button--pager" @click.prevent="getPageLink(next)">
                    <div class="sc-button__circle">
                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-right xsprite-cms--white"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    //import _ from 'lodash'

    export default {
        props: {

            defaults: {
                type: Object,
                default: {
                    page: 1,
                    max: 10
                }
            },
            fetch: {
                default: (query) => {
                    return {}
                }
            },
            pagerButtons: {
                default: 5
            },
            query: {
                required: true,
            },
            routeAware: {
                default: true
            },
            routeName: {
                required: false,
                default: ''
            },
            total: {
                required: true,
                type: Number
            }
        },
        data(){
            return {
                buttons: [],
                first: 0,
                last: 0,
                next: false,
                prev: false
            }
        },
        ready(){
            //this.loadPagerData()
        },
        methods: {
            getNrOfPagesButtons(page){
                let nrOfPages = this.getNrOfPages()
                let nrs = []
                if (nrOfPages < this.pagerButtons) {
                    for (let i = 0; i < nrOfPages; i++)
                        nrs.push(i)
                    return nrs
                }//endif
                let pagerButtons = Number(this.pagerButtons)
                let right = (pagerButtons % 2) ? page + ((pagerButtons - 1) / 2) : page + (pagerButtons / 2)
                let left = (pagerButtons % 2) ? page - ((pagerButtons - 1) / 2) : page - (pagerButtons / 2)

                let correction = (right > nrOfPages) ? right - nrOfPages : 0;
                if (correction > 0)
                    right = nrOfPages

                left = left - correction - 1
                if (left < 0)
                    left = 0

                if ((right - left) < pagerButtons)
                    right = right + (pagerButtons - (right - left))

                for (let i = left; i < right; i++)
                    nrs.push(i)
                return nrs

            },
            getQueryValue(key, defaultValue = ''){

                if (_.isUndefined(this.query[key]))
                    return ( !_.isUndefined(this.defaults[key])) ? this.defaults[key] : defaultValue

                return this.query[key]
            },
            previousPage() {
                this.getPageLink(this.prev)
            },
            nextPage() {
                this.getPageLink(this.next)
            },
            getPageLink(page){

                let query = {}
                // -- quick cloning
                for (let prop in this.query)
                    query[prop] = this.query[prop]

                query.page = page
                query.max = this.getQueryValue('max')

                //this.fetch(query)

                if (this.routeAware)
                    return {query: query}

            },
            getNrOfPages(){
                let max = Number(this.getQueryValue('max', this.defaults.max))
                let pages = Math.floor(this.total / max) + 1

                if (this.total % max == 0)
                    pages--

                return pages
            },
            loadPagerData(){

                let page = Number(this.getQueryValue('page'))
                let nrOfPages = Number(this.getNrOfPages())

                this.first = 1
                this.prev = (page > 1) ? page - 1 : false
                this.next = (page < nrOfPages) ? page + 1 : false
                this.last = nrOfPages
                this.buttons = this.getNrOfPagesButtons(page)
            },
        },
        watch: {
            query(val, old){
                this.loadPagerData()
            },
            total(val, old){
                this.loadPagerData()
            }
        }
    }
</script>
<style>


</style>
