// -----------------------------------------------------------------------------
// This file contains styles that are specific to datalists
// -----------------------------------------------------------------------------

.s-datalist__item {
    .row--even {
        @include breakpoint(md) {
            > .col:nth-child(1) {
                @include switch-order(1);
            }
        }
    }
}

.s-datalist__player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.s-datalist__player iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.s-datalist__player img{
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    transition: .4s all;
}

.s-datalist__player img:hover {
    -webkit-filter: brightness(75%);
}

.s-datalist__player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}
