// -----------------------------------------------------------------------------
// This file contains styles related to the typography.
// -----------------------------------------------------------------------------

// Default styles for titles.
// This class should be shared between all titles.
.c-title {
    font-weight: normal;
}

// Default styles for custom texts.
// This class should be shared between all custom texts.
.c-text {
    ul, ol {
        padding: 0;
        margin: 0;
    }
}
