// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the backoffice.
// -----------------------------------------------------------------------------

.bo-sideBar {
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    transition: all 150ms ease;
    background: $c-color-bg;
    color: #eee;
    overflow-y: auto;

    .sideBar__logoContainer {
        padding: 20px 10px;
        height: $panel-header-height;
        overflow: hidden;
    }

    .sideBar__logo {
        display: block;
        margin-bottom: 5px;

        img {
            width: 110px;
        }
    }

    .sideBar__tagline {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .sideBar__navigation {
        ul {
            list-style: none;
        }
    }

    // Main menu navigation
    .mainMenu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            color: #eee;
        }
        .item {
            a {
                display: block;
                padding: 15px 15px;
                @include on-event {
                    text-decoration: none;
                }
            }
        }
        .subMenu {
            background: #333;

            .item a {
                padding: 15px 50px;
            }
        }
        .subMenu__link {
            transition: all 50ms linear;
        }
    }

    .mainMenu__link {
        transition: all 50ms linear;
        .fa {
            margin-right: 15px;
        }
    }

    .mainMenu__link, .subMenu__link {
        &:hover, &.v-link-active {
            color: #fff;
            background: $c-color-accent;
            position: relative;
        }
    }

}
