<template>
    <div class="data-table-medium">
        <div class="data-table-medium__rows">
            <div class="data-table-medium__row" v-for="(index, orderNr) in order">
                <div class="data-table-medium__col checkbox-col data-table-medium__delete-offset">
                    <div class="c-db sc-button sc-button--circle sc-button--list-checkbox small-circle" :class="{ 'checked': isItemChecked(orderNr) }" @click="onClickCheckbox(results[orderNr].id)">
                        <div class="sc-button__circle">
                            <div class="xsprite-cms xsprite-cms xsprite-cms--icon-check xsprite-cms--white icon"></div>
                        </div>
                    </div>
                </div>
                <div class="click-columns sc-row-with-circle-button" @click="edit(results[orderNr])">
                    <div class="data-table-medium__col text-col">
                        <div class="title truncate-text" >{{ titleColumn ? getColumnValue(results[orderNr], titleColumn) : '' }}</div>
                        <div class="subtitle truncate-text">{{ subtitleColumn ? getColumnValue(results[orderNr], subtitleColumn) : '' }}</div>
                    </div>
                    <div class="data-table-medium__col status-col">
                        <div class="online">{{ getColumnValue(results[orderNr], 'online') }}</div>
                        <div class="xsprite-cms xsprite-cms xsprite-cms--icon-arrow-right xsprite-cms--white arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let GridMixin = appMake('GridMixin')

    export default {
        data() {
            return {
                model: []
            }
        },
        mixins: [GridMixin],
        props: {
            toggleCheck: {
                type: Function,
                default: () => {}
            },
            titleColumn: {
                type: String
            },
            subtitleColumn: {
                type: String
            }
        },
        methods: {
            getColumnValue(result, column){
                if (_.isUndefined(result))
                    return '?'

                if (_.isUndefined(result[column]))
                    if (this.language != '' && !_.isUndefined(result['translations']) && !_.isUndefined(result['translations'][this.language]) && !_.isUndefined(result['translations'][this.language][column]))
                        return this.hydrate(column, result['translations'][this.language][column], result['id'])
                    else
                        if(column == 'online')
                            return ''
                        else
                            return '_' + column + '_'

                return this.hydrate(column, result[column], result['id'])
            },
            isItemChecked(orderNr) {
                return this.results[orderNr] !== undefined && this.model[this.results[orderNr].id] !== undefined && this.model[this.results[orderNr].id]
            },
            onClickCheckbox(itemId) {
                var newValue = this.toggleCheck(itemId)
                this.model.$set(itemId, newValue)
            }
        }
    }
</script>
