<template>
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th class="data-grid__column--select"></th>
                    <th v-for="(colNr, column) in columns"
                        :class="{'data-grid__column--primary': colNr < 3, 'data-grid__column--secondary': colNr > 2}">{{ column.label }}</th>
                    <th class="data-grid__column--action"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(index, orderNr) in order">
                    <td class="data-grid__column--select"><input type="checkbox" @click="toggleCheck(results[orderNr].id)"></td>
                    <td v-for="(colNr, column)  in hydrateColumns(columns)"
                        @click="edit(results[orderNr])"
                        :class="{'data-grid__column--primary': colNr < 3, 'data-grid__column--secondary': colNr > 2}">
                        <div v-if="column.type == 'text'">
                            {{ getColumnValue(results[orderNr], column.column) }}
                        </div>

                        <div v-if="column.type == 'html'">
                            {{{ getColumnValue(results[orderNr], column.column) }}}
                        </div>

                        <div v-if="column.type == 'assets'">
                            <div v-for="file in getFiles(orderNr)">
                                <img style="float: left; height: 18px; margin: 0 1px;" v-if="isImage(file)"
                                     :src="file.virtual_thumb"/>
                                <i v-if=" ! isImage(file)" style="color: #ccc;" class="fa fa-file-text-o"></i>
                            </div>
                        </div>
                    </td>
                    <td class="data-grid__column--action">
                        <i class="fa fa-chevron-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    let GridMixin = appMake('GridMixin')

    export default {
        mixins: [GridMixin],
        props: {
            toggleCheck: {
                type: Function,
                default: () => {}
            }
        }
    }
</script>