// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// GENERAL
// -----------------------------------------------------------------------------
// Relative URL where all assets are served from.
$c-base-url: '../../' !default;

// Max width for the site container.
$c-site-max-width: 1180px !default;
// Max-width for long text.
$c-text-max-width: 1020px !default;

// Padding around the site container.
$c-container-padding: 15px;
$c-container-padding-sm: 15px;
$c-container-padding-md: 15px;
$c-container-padding-lg: 15px;
$c-container-padding-xl: 15px;


// COLOURS
// -----------------------------------------------------------------------------
$c-color-text: #000;
$c-color-bg: #FFF;
$c-color-accent: rebeccapurple;


// GRID
// -----------------------------------------------------------------------------
$c-columns: 12 !default;
$c-gap-default: 20px !default;
$c-gaps-extra: (
    // 'example': (
    //     '': 50px,
    //     'md': 60px,
    //     '1500px': 70px
    // )
);


// SPACERS
// -----------------------------------------------------------------------------
$c-spacer-sizes: (
    // 'example': (
    //     '': 50px,
    //     'md': 60px,
    //     '1500px': 70px
    // )
);


// DEFAULT TYPOGRAPHY
// -----------------------------------------------------------------------------
// Default font-size applied to the body (+ optional line-heights)
$c-font-sizes: (
    // '': (16px, 1.618),
    // 'md': 18px,
    // '1500px': 20px
);

// CUSTOM TYPOGRAPHY
// -----------------------------------------------------------------------------
// Fontstacks, with custom fonts from base/_fonts.scss
$c-fontstack-default: 'VeryCoolFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Text-sizes (+ optional line-heights)
$c-text-sizes: (
    // 'example': (
    //     '': (24px, 1.618),
    //     'md': 30px,
    //     '1500px': 45px
    // )
);

// Titles
$c-title-sizes: (
    // 'example': (
    //     '': (24px, 1.618),
    //     'md': 30px,
    //     '1500px': 45px
    // )
);


// CUSTOM VARIABLES
// -----------------------------------------------------------------------------
