<template>
    <div>
        <panel v-show="routeHasAction(getActionUrl())" :css-class="[ 'panel--dark' ]">
            <div slot="header">
                <panel-header :sub-title="'berichten contactformulier'" :title="'Overzicht'"
                              :cancel-action="cancelAction" :back-action="backAction"></panel-header>
            </div>
            <div slot="section">
                <div class="content-width">

                    <div class="data-table-big__header">
                        <div class="row row--between row--middle">
                            <div class="col col--full">
                                <div class="sc-button sc-button--circle sc-button--delete-multiple data-table-big__delete-offset" v-show="checkedItems.length != 0" @click="destroy()">
                                    <div class="sc-button__circle">
                                        <div class="xsprite-cms xsprite-cms--icon-trash xsprite-cms--white"></div>
                                    </div>
                                </div>
                                <div class="c-dif sc-button sc-button--circle-and-label sc-button--overview-addnew large-circle data-table-big__addnew" @click="add()">
                                    <div class="sc-button__circle">
                                        <div class="xsprite-cms xsprite-cms--icon-plus xsprite-cms--white"></div>
                                    </div>
                                    <div class="sc-button__label">item toevoegen</div>
                                </div>
                                <a class="c-db sc-button__label" :href="'/api/csv/' + name" target="_blank">
                                    <div class="c-dif sc-button sc-button--circle-and-label sc-button--overview-addnew large-circle data-table-big__addnew">
                                        <div class="sc-button__circle">
                                            <div class="xsprite-cms xsprite-cms--icon-arrow-down xsprite-cms--white"></div>
                                        </div>
                                        <div class="c-db sc-button__label">exporteer</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <data-table-big :language="getDataLanguage" :columns="columns" :hydration="{ first_name: hydrateFirstName }"
                                    :results="results" :order="order" :edit="edit" :destroy="destroy" :toggle-check="toggleCheck"
                                    :title-column="titleColumn" :subtitle-column="subtitleColumn"></data-table-big>
                </div>

                <pager :pager-buttons="5" :route-name="dataSources" :query="query" :total="totalResults"
                       :defaults="queryDefaults"></pager>

                <pop-up :show="showDelete" :ok-action="okActionDestroy" :cancel-action="cancelActionDestroy" :ok-label="'verwijderen'" :ok-css-class="'sc-button--confirm-delete'">
                    <div slot="header">
                        Verwijderen?
                    </div>
                    <div slot="content">
                        Deze actie kan niet meer ongedaan gemaakt worden.
                    </div>
                </pop-up>

            </div>
            <div slot="footer">
                <div></div>
            </div>
        </panel>

        <component :is="getDetailActionName()" v-if="routeHasAction('panel.' + getDetailActionName())"
                   :level="level+1"></component>
    </div>
</template>


<script>
    let DataOverviewMixin = appMake('DataOverviewMixin')

    export default {
        mixins: [DataOverviewMixin],
        data() {
            return {
                name: 'form-contact',
                actionName: 'data_form_contact_overview',
                columns: [{column: 'id', label: 'id'}, {column: 'first_name', label: 'naam'}, {column: 'email', label: 'email'}],
                titleColumn: 'email',
                subtitleColumn: 'message',
                queryDefaults: {
                    page: 1,
                    max: 20,
                    sort: 'id',
                    direction: 'desc'
                },
            }
        },


        methods: {
            hydrateFirstName(value, id) {
                if ( ! id)
                    return value

                return value + ' ' + this.results[id]['last_name']
            }
        }
    }
</script>

<style>

</style>
