// -----------------------------------------------------------------------------
// This file contains all basic styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

.c-container {
    padding-left: $c-container-padding;
    padding-right: $c-container-padding;
    @include breakpoint(sm) {
        padding-left: $c-container-padding-sm;
        padding-right: $c-container-padding-sm;
    }
    @include breakpoint(md) {
        padding-left: $c-container-padding-md;
        padding-right: $c-container-padding-md;
    }
    @include breakpoint(lg) {
        padding-left: $c-container-padding-lg;
        padding-right: $c-container-padding-lg;
    }
    @include breakpoint(xl) {
        padding-left: $c-container-padding-xl;
        padding-right: $c-container-padding-xl;
    }
}

// Default styles for spacers.
// This class should be shared between all spacers.
.c-spacer {
    width: 100%;
}
