$basicLightbox__background: rgba(0, 0, 0, .8); // Background color
$basicLightbox__zIndex: 9999; // Stack order
$basicLightbox__duration: .1s; // Transition duration
$basicLightbox__timing: ease; // Transition timing

@import '~basiclightbox/src/styles/main';

.basicLightbox {
    &:after {
        content: "";
        position: absolute;
        top: 35px;
        right: 35px;
        width: 22px;
        height: 22px;
        background-image: $c-sprite;
        background-image: $c-sprite-svg;
        background-position-x: -310px;
        background-position-y: -5px;
        cursor: pointer;
    }
}

.basicLightbox__placeholder > img {
    background: linear-gradient(45deg, rgba(0,0,0,0.09) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.09) 75%, rgba(0,0,0,0.09) 0), linear-gradient(45deg, rgba(0,0,0,0.09) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.09) 75%, rgba(0,0,0,0.09) 0), rgb(255, 255, 255);
    background-position: 0 0, 10px 10px;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 20px 20px;
}