.flatpickr-day.selected {
    background: $c-color-accent;
    border-color: $c-color-accent;
    &:hover,
    &:focus {
        background: $c-color-accent;
        border-color: $c-color-accent;
    }
}