<template>
    <div class="c-dib sc-button sc-button--circle sc-button--cms-launcher large-circle" @click="toggleMenu"><div>menu</div></div>
</template>
<script>

let MainMenuButtonMixin = appMake('MainMenuButtonMixin')

export default {
    mixins:[MainMenuButtonMixin]
}
</script>
