<template>
    <div>
        <panel v-show="routeHasAction(getActionUrl())">
            <div slot="header" v-if="isModelReady()">
                <panel-header :sub-title="'blogbericht'" :title="model.translations[getDataLanguage]['title']"
                              :cancel-action="cancelAction" :back-action="backAction"></panel-header>
            </div>
            <div slot="section" v-if="isModelReady()">
                <div class="content-width">

                    <!-- EXAMPLE -->
                    <!--<div v-if="hasErrors('date')"><div v-for="error in getErrors('date')">{{ error }}</div></div>-->
                    <!--<div v-if="hasErrors('title')"><div v-for="error in getErrors('title')">{{ error }}</div></div>-->

                    <date
                            :model="model"
                            :property="'date'"
                            :label="'Datum'"
                            :prefix="'blog'"
                            :has-errors="hasErrors('date')"
                            :is-date-time="true"></date>

                    <checkbox
                            :model="model"
                            :property="'online'"
                            :label="'Live'"
                            :prefix="'blog'"></checkbox>

                    <div class="grid">
                        <div class="row row--between row--middle">
                            <div class="col col--full col--8">
                                <selectbox-relation
                                    :model="model"
                                    :property="'type'"
                                    :prefix="'blog'"
                                    :data-source="'blog-types'"
                                    :label="'categorie'"
                                    :query-string="{sort: 'label', direction: 'asc'}"
                                    :option-label="getBlogTypeLabel"></selectbox-relation>
                            </div>
                            <div class="col col--full col--4">
                                <div class="c-df sc-button sc-button--circle-and-label sc-button--selectbox-addnew" @click="gotoBlogTypes()">
                                    <div class="sc-button__circle">
                                        <div class="sc-button__icon">
                                            <div class="c-ab xsprite-cms xsprite-cms--icon-plus xsprite-cms--black icon-black"></div>
                                            <div class="c-ab xsprite-cms xsprite-cms--icon-plus xsprite-cms--white icon-white"></div>
                                        </div>
                                    </div>
                                    <div class="sc-button__label">categorie toevoegen</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <text-single-line
                            :model="model.translations[getDataLanguage]"
                            :property="'title'"
                            :label="'Titel'"
                            :prefix="'blog'"
                            :has-errors="hasErrors('title')"></text-single-line>

                    <text-editor
                            :model="model.translations[getDataLanguage]"
                            :property="'intro'"
                            :language="getDataLanguage"
                            :label="'Intro'"
                            :prefix="'blog'"
                            :has-errors="hasErrors('intro')"
                            :max="50"></text-editor>

                    <text-editor
                            :model="model.translations[getDataLanguage]"
                            :property="'message'"
                            :language="getDataLanguage"
                            :label="'Omschrijving'"
                            :prefix="'blog'"
                            :has-errors="hasErrors('message')"></text-editor>

                    <div v-for="key in getAssetGroup()" >
                        <image-upload-field :model="model" :key="key" :level="level" :label="'bestanden'"></image-upload-field>
                    </div>

                    <template v-if="isModelReady() && id > 0">
                        <datalist
                                :id="id"
                                :url-action="'panel.blog_item'"
                                :label="'inhoud'"
                                :level="level"
                                :data-source-slug="'blog-items'"
                                :relation-field="'blog_id'"></datalist>
                    </template>



                    <ul v-if="errors" class="form__validation-list" transition="validation-list">
                        <li v-for="(field, msg) in errors">{{ msg }}</li>
                    </ul>

                    <div class="form__footer">
                        <div class="grid">
                            <div class="row row--between buttons">
                                <div class="col col--full col--4 left">
                                </div>
                                <div class="col col--full col--4 center c-tc">
                                    <button class="c-dib sc-button sc-button--submit" @click="onSubmitFormCustom">Opslaan</button>
                                </div>
                                <div class="col col--full col--4 right c-tr">
                                    <!-- added for delete on detail -->
                                    <div class="c-df sc-button sc-button--circle-and-label sc-button--delete-detail" @click="destroy" v-if="id">
                                        <div class="sc-button__label">verwijderen</div>
                                        <div class="sc-button__circle">
                                            <div class="sc-button__icon">
                                                <div class="c-ab xsprite-cms xsprite-cms--icon-trash xsprite-cms--grey icon-grey"></div>
                                                <div class="c-ab xsprite-cms xsprite-cms--icon-trash xsprite-cms--white icon-white"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- added for delete on detail -->
                    <pop-up :show="showDelete" :ok-action="okActionDestroy" :cancel-action="cancelActionDestroy" :ok-label="'verwijderen'" :ok-css-class="'sc-button--confirm-delete'">
                        <div slot="header">
                            Verwijderen?
                        </div>
                        <div slot="content">
                            Deze actie kan niet meer ongedaan gemaakt worden.
                        </div>
                    </pop-up>

                </div>
            </div>
        </panel>

        <component :is="'data_blog_types_detail'" v-if="routeHasAction('panel.data_blog_types_detail')"
                   :level="level+1"></component>
    </div>
</template>

<script>
    let DataDetailMixin = appMake('DataDetailMixin')
    let Datalist = appMake('Datalist.vue')
    let SelectboxRelation = appMake('SelectboxRelation.vue')

    let ImageUploadField = appMake('ImageUploadField.vue')
    let moment = require('moment')

    export default {
        mixins: [DataDetailMixin],
        components: {
            Datalist,
            ImageUploadField,
            SelectboxRelation

        },
        data() {
            return {
                actionName: 'data_blog_detail',
                name: 'blog',
                showDeleteBlogItem: false,
                slugField: 'title',
            }
        },
        ready() {
            this.detailsRoute(this.$route, () => {
                if(this.model.date == '')
                    this.model.date = moment().format('YY-MM-DD hh:mm:ss')
            })
        },
        methods: {

            getBlogTypeLabel(item){
                return item['translations'][this.getDataLanguage]['label']
            },

            gotoBlogTypes(){
                this.routeGo(this.routeAppendAction({action: 'panel.data_blog_types_detail/0'}))
            },
            onHit(item){
                this.model.type = item.id
            },
            onSubmitFormCustom(e) { /*custom submit function for data lists. onSubmitForm can be called directly for details without datalists*/
                this.saveItems()
                this.onSubmitForm(e)
            },

            saveItems() {
                this.$broadcast('saveItems');
            },
            toggleOnline() {
                this.model.online = !this.model.online
            }
        }
    }
</script>
