<template>
    <div>
        <panel v-show="routeHasAction(getActionUrl())">
            <div slot="header" v-if="isModelReady()">
                <panel-header :sub-title="'blog type'" :title="model.translations[getDataLanguage]['label']"
                              :cancel-action="cancelAction" :back-action="backAction"></panel-header>
            </div>
            <div slot="section" v-if="isModelReady()">
                <div class="content-width">

                    <text-single-line
                        :model="model.translations[getDataLanguage]"
                        :property="'label'"
                        :label="'Label'"
                        :prefix="'blogtype'"
                        :has-errors="hasErrors('label')"></text-single-line>

                    <text-single-line
                        :model="model"
                        :property="'name'"
                        :label="'Naam'"
                        :prefix="'blogtype'"
                        :has-errors="hasErrors('name')"></text-single-line>


                    <ul v-if="errors" class="form__validation-list" transition="validation-list">
                        <li v-for="(field, msg) in errors">{{ msg }}</li>
                    </ul>

                    <div class="form__footer">
                        <div class="grid">
                            <div class="row row--between buttons">
                                <div class="col col--full col--4 left">
                                </div>
                                <div class="col col--full col--4 center c-tc">
                                    <button class="c-dib sc-button sc-button--submit" @click="onSubmitForm">Opslaan</button>
                                </div>
                                <div class="col col--full col--4 right c-tr">
                                    <!-- added for delete on detail -->
                                    <div class="c-df sc-button sc-button--circle-and-label sc-button--delete-detail" @click="destroy" v-if="id">
                                        <div class="sc-button__label">verwijderen</div>
                                        <div class="sc-button__circle">
                                            <div class="sc-button__icon">
                                                <div class="c-ab xsprite-cms xsprite-cms--icon-trash xsprite-cms--grey icon-grey"></div>
                                                <div class="c-ab xsprite-cms xsprite-cms--icon-trash xsprite-cms--white icon-white"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- added for delete on detail -->
                    <pop-up :show="showDelete" :ok-action="okActionDestroy" :cancel-action="cancelActionDestroy" :ok-label="'verwijderen'" :ok-css-class="'sc-button--confirm-delete'">
                        <div slot="header">
                            Verwijderen?
                        </div>
                        <div slot="content">
                            Deze actie kan niet meer ongedaan gemaakt worden.
                        </div>
                    </pop-up>

                </div>
            </div>
        </panel>

    </div>
</template>

<script>

    let DataDetailMixin = appMake('DataDetailMixin')

    export default {
        mixins: [DataDetailMixin],

        data(){
            return {
                actionName: 'data_blog_types_detail',
                name: 'blog-types',
                slugField: 'label',

            }
        },

    }
</script>
