<template>
    <div>
        <panel v-show="routeHasAction(getActionUrl())" :css-class="[ 'panel--dark' ]">
            <div slot="header">
                <panel-header :sub-title="'blogberichten'" :title="'Overzicht'" :back-action="backAction" :cancel-action="cancelAction"></panel-header>
            </div>
            <div slot="section">
                <div class="content-width">

                    <div class="data-table-big__header">
                        <div class="row row--between row--middle">
                            <div class="col col--full">
                                <div class="sc-button sc-button--circle sc-button--delete-multiple data-table-big__delete-offset" v-show="checkedItems.length != 0" @click="destroy()">
                                    <div class="sc-button__circle">
                                        <div class="xsprite-cms xsprite-cms--icon-trash xsprite-cms--white"></div>
                                    </div>
                                </div>
                                <div class="c-dif sc-button sc-button--circle-and-label sc-button--overview-addnew large-circle data-table-big__addnew" @click="add()">
                                    <div class="sc-button__circle">
                                        <div class="xsprite-cms xsprite-cms--icon-plus xsprite-cms--white"></div>
                                    </div>
                                    <div class="sc-button__label">item toevoegen</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <data-table-big :language="getDataLanguage" :columns="columns" :hydration="{ online: hydrateOnline, date: hydrateDate }"
                                    :results="results" :order="order" :edit="edit" :destroy="destroy" :toggle-check="toggleCheck"
                                    :title-column="titleColumn" :subtitle-column="subtitleColumn"></data-table-big>
                </div>

                <pager :pager-buttons="5" :route-name="dataSources" :query="query" :total="totalResults"
                       :defaults="queryDefaults"></pager>

                <pop-up :show="showDelete" :ok-action="okActionDestroy" :cancel-action="cancelActionDestroy" :ok-label="'verwijderen'" :ok-css-class="'sc-button--confirm-delete'">
                    <div slot="header">
                        Verwijderen?
                    </div>
                    <div slot="content">
                        Deze actie kan niet meer ongedaan gemaakt worden.
                    </div>
                </pop-up>

            </div>
            <div slot="footer">
                <div></div>
            </div>
        </panel>

        <component :is="getDetailActionName()" v-if="routeHasAction('panel.' + getDetailActionName())"
                   :level="level+1"></component>
    </div>
</template>


<script>
    let DataOverviewMixin = appMake('DataOverviewMixin')
    let DateHelper = appMake('DateHelper')

    export default {
        mixins: [DataOverviewMixin],
        data() {
            return {
                name: 'blog',
                actionName: 'data_blog_overview',
                titleColumn: 'title',
                subtitleColumn: 'date',
                columns: [
                    {column: 'id', label: 'id'},
                    {column: 'title', label: 'titel'},
                    {column: 'images', 'label': 'media'},
                    {column: 'date', label: 'datum'},
                    {column: 'online', label: 'status'}],
                queryDefaults: {
                    page: 1,
                    max: 20,
                    sort: 'date',
                    direction: 'desc'
                },
            }
        },
        methods: {
            hydrateOnline(value, id) {
                if (value == 0)
                    return ''

                return 'live'
            },
            hydrateDate(value, id) {
                return (new DateHelper()).toString(value)
            }
        }
    }
</script>

<style>

</style>
