.data-table-medium {
    position: relative;
    margin: 30px 0;
    color: $c-color-white;
}

.data-table-medium__header {
    margin-top: 55px;

    .col {
        display: flex;
        align-items: center;
    }
}

.data-table-medium__addnew {
    margin-left: 7px;
}

.data-table-medium {
    .form__field-label {
        top: 22px;
    }
}

.data-table-medium__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all;

    &:not(:first-child) {
        border-top: solid 1px $c-color-medium-grey;
    }

    .click-columns {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 10px;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background: linear-gradient(150deg, $c-color-accent-gradient-light 50%, $c-color-accent-gradient-dark);
            z-index: -1;
            opacity: 0;
            transition: all 0.1s;
        }

        &:hover {
            color: $c-color-white;
            &:after {
                opacity: 1;
            }
            .online {
                transform: translateY(0);
                color: $c-color-white;
            }
            .arrow {
                opacity: 1;
            }
        }
    }

    .title {
        font-family: $c-fontstack-helveticaneue;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        color: $c-color-white;
    }

    .subtitle {
        font-size: 12px;
        line-height: 20px;
        font-weight: 200;
        letter-spacing: 1px;
        color: $c-color-white;
    }

    .online {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #45DD3B;
        text-transform: uppercase;
        transform: translateX(37px);
        transition: all 0.2s;
    }

    .arrow {
        margin-left: 15px;
        opacity: 0;
        transition: all 0.2s;
    }
}

.data-table-medium__col {
    display: flex;

    &.checkbox-col {
        height: 100%;
    }

    &.text-col {
        flex-grow: 1;
        flex-direction: column;
        min-width: 0; //https://css-tricks.com/flexbox-truncated-text/
        padding: 10px;
    }

    &.status-col {
        flex: 0 0 100px;
        padding: 0 15px 0 0;
        align-items: center;
        justify-content: flex-end;
    }
}

.data-table-medium__delete-offset {
    margin-left: -40px;
    transform: translateX(-50%);
}

.data-table-medium.data-table--inverted {
    color: $c-color-text;

    .data-table-medium__row .click-columns {
        .title, .subtitle {
            color: $c-color-text;
        }

        &:hover {
            .title, .subtitle {
                color: $c-color-white;
                &:after {
                    opacity: 1;
                }
            }
            .online {
                transform: translateY(0);
                color: $c-color-white;
            }
            .arrow {
                opacity: 1;
            }
        }
    }
}
