.bns-dropdown__root,
.bns-dropdown__root *,
.bns-dropdown__root *::before,
.bns-dropdown__root *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bns-dropdown__root {
    display: inline-block;
    position: relative;
    width: 100%;
    user-select: none;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

.bns-dropdown__root--disabled {
    color: #ccc;
    cursor: not-allowed;
}

.bns-dropdown__root.bns-dropdown__root--invalid::after {
    background: rgb(255, 105, 105);
}

.bns-dropdown__head {
    border: 1px solid $c-color-light-grey;
    height: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
}

.bns-dropdown__value {
    width: 100%;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 38px 0 20px;
    line-height: 50px;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.bns-dropdown__arrow {
    position: absolute;
    width: 14px;
    height: 10px;
    top: calc(50% - 5px);
    right: 16px;
    transition: transform 150ms;
    pointer-events: none;
    color: #000;
}

.bns-dropdown__root--disabled .bns-dropdown__arrow {
    color: #ccc;
}

.bns-dropdown__arrow::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    top: 0;
    right: 3px;
    transform: rotate(45deg);
    transform-origin: 50% 25%;
}

.bns-dropdown__root--open .bns-dropdown__arrow {
    transform: rotate(180deg);
}

.bns-dropdown__value,
.bns-dropdown__option,
.bns-dropdown__group-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bns-dropdown__root:not(.bns-dropdown__root--disabled) .bns-dropdown__value,
.bns-dropdown__option {
    cursor: pointer;
}

.bns-dropdown__select {
    position: absolute;
    opacity: 0;
    left: -999px;
}

.bns-dropdown__root--native .bns-dropdown__select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bns-dropdown__body {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    border: 1px solid $c-color-light-grey;
    border-top: none;
}

.bns-dropdown__root--open .bns-dropdown__body {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.bns-dropdown__root--open-above .bns-dropdown__body {
    bottom: 100%;
}

.bns-dropdown__root--open-below .bns-dropdown__body {
    top: 100%;
}

.bns-dropdown__items-list {
    overflow: auto;
    max-height: 0;
    -webkit-overflow-scrolling: touch;
}

.bns-dropdown__items-list::-webkit-scrollbar {
    width: 12px;
}

.bns-dropdown__items-list::-webkit-scrollbar-track {
    background: #efefef;
}

.bns-dropdown__items-list::-webkit-scrollbar-thumb {
    background: #ccc;
}

.bns-dropdown__group-label {
    font-size: 13px;
    padding: 4px 8px 4px 0;
    color: #555;
    font-weight: 600;
}

.bns-dropdown__group--has-label {
    padding-left: 22px;
}

.bns-dropdown__option {
    position: relative;
    padding: 10px 20px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 40px;
}

.bns-dropdown__option--selected {
    background: linear-gradient(to right, $c-color-accent-gradient-light, $c-color-accent-gradient-dark);
    color: #fff;
    font-weight: bold;
}

.bns-dropdown__option--focused:not(.bns-dropdown__option--disabled) {
    background: linear-gradient(to right, $c-color-accent-gradient-light, $c-color-accent-gradient-dark);
    color: #fff;
}

.bns-dropdown__option--disabled,
.bns-dropdown__group--disabled .bns-dropdown__option {
    cursor: default;
    color: #ccc;
}