// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

$c-color-form-error: #e82222;
$c-color-form-warning: #e8632a;

.form__fieldset {
    margin-top: 16px;
    padding: 20px;
    border: solid 1px $c-color-bg;

    legend {
        background-color: $c-color-bg;
        color: $c-color-text-light;
        padding: 10px 20px;
    }

    .form__field {
        padding-bottom: 20px;
    }

    .form__fieldset__separator {
        position: relative;
        text-align: center;
        margin-top: 20px;

        .separator__label {
            background-color: $c-color-bg;
            color: $c-color-text-light;
            padding: 10px 20px;
            display: inline-block;
            transform: translateY(-50%);
        }

        .separator__line {
            width: 100%;

            &:after {
                content: '';
                position: absolute;
                height: 1px;
                background: $c-color-bg;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}

.form__field {
    position: relative;
    margin-top: 16px;
    padding-bottom: 32px;

    input::-webkit-input-placeholder {
        color: transparent;
        transition: 0.3s;
    }
    input:-moz-placeholder {
        color: transparent;
        transition: 0.3s;
    }
    /* FF 4-18 */
    input::-moz-placeholder {
        color: transparent;
        transition: 0.3s;
    }
    /* FF 19+ */
    input:-ms-input-placeholder {
        color: transparent;
        transition: 0.3s;
    }
    /* IE 10+ */

    input:focus::-webkit-input-placeholder {
        color: #b2b2b2;
    }
    input:focus:-moz-placeholder {
        color: #b2b2b2;
    }
    /* FF 4-18 */
    input:focus::-moz-placeholder {
        color: #b2b2b2;
    }
    /* FF 19+ */
    input:focus:-ms-input-placeholder {
        color: #b2b2b2;
    }
    /* IE 10+ */

    textarea {
        resize: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border-radius: 0px;
        height: 40px;
    }

    &.form__field--no-title {
        margin-top: 0;
    }

    &.form__field--compact {
        padding-bottom: 0;
    }
}

// General styles
.form__field-label {
    position: absolute;
    top: 16px;
    left: 0;
    font-family: $c-fontstack-bold;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: 0.3s;
    cursor: text;
    text-transform: uppercase;
    color: $c-color-faded-grey;
    letter-spacing: 2px;
    width: 200px;
    text-align: right;
    transform: translateX(-200px);
    padding: 0 40px 0 10px;

    &.form__field-checkbox-label {
        top: 12px;
    }

    .global {
        margin-left: 4px;
    }
}

.form__field--vertical {
    margin-top: 30px;
    padding-bottom: 0;

    .form__field-label {
        top: -22px;
        cursor: text;
        width: auto;
        text-align: left;
        transform: none;
        padding: 0;
    }
}

.form__label-subscript {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    color: $c-color-faded-grey;
    letter-spacing: 2px;
}

.form__field-input, .form__field-input-prefix {
    width: 100%;
    padding: 12px 0;
    outline: none;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    border-bottom: solid 1px $c-color-light-grey;
    transition: 0.3s;

    &.form__field-input--readonly {
        opacity: 0.5;
    }

    &:focus {
        border-bottom: solid 1px $c-color-bg;
        /*box-shadow: 0 1px 0 0 $c-color-bg;*/
    }

    //NIEUWE STYLING
    /*&:focus ~ .form__field-label,
    &.form__field-input--active ~ .form__field-label,
    ~ .form__field-label--fixed {
      opacity: 0.6;
      transform: translateY(-28px);
    }*/

    &:focus ~ .form__field-label {
        //color: $c-color-accent;
    }
}

.form__field {
    &.form__field--compact {
        margin-top: 6px;
        padding-bottom: 12px;

        .form__field-input {
            padding: 5px 0;
            font-size: 14px;
            line-height: 14px;

            //NIEUWE STYLING
            /*&:focus ~ .form__field-label,
            &.form__field-input--active ~ .form__field-label,
            ~ .form__field-label--fixed {
              transform: translateY(-23px);
            }*/
        }

        .form__field-label {
            font-size: 12px;
            top: 8px;
        }
    }
}

.form__field {
    &.form__field--error {

        .form__field-input {
            border-bottom: solid 1px $c-color-form-error;
            box-shadow: 0 1px 0 0 $c-color-form-error;
        }

        .form__field-label {
            color: $c-color-form-error;
        }
    }
}

.form__field-input-prefix {
    flex: 1;
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.form__field-admin-actions, .form__field-subscript, .form__field-slug {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px;
}

.form__field-admin-actions {
    height: 0;

    a {
        cursor: pointer;
    }
}

.form__field-subscript, .form__field-slug {
    position: absolute;
    right: 0;
}

.field-subscript__charcounter {
    &.field-subscript__charcounter--warning {
        color: $c-color-form-warning;
    }
}

.form__field-autocomplete {

    &.form__field-input:focus {
        border-left: solid 2px black;
        border-top: solid 2px black;
        border-right: solid 2px black;
        padding-left: 10px;
    }
}

ul.form__field-autocomplete-list {
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;

    li {
        font-size: 16px;
        padding: 10px;
        border-bottom: solid 1px $c-color-white;
        cursor: pointer;

        &:hover, &.active {
            background-color: $c-color-bg;
            color: $c-color-text-light;
        }
    }

    li:nth-last-child(1) {
        border-bottom: none;
    }
}

.form__field--checkbox-list {
    .form__field-input {
        border: none;
        padding: 5px 0;
    }
    .form__field-checkbox-label {
        top: 9px;
        text-align: left;
        left: 275px;
        width: 250px;
        padding: 0;
    }
}

// Medium editor
.form__field-medium-editor {
    font-size: 18px;
    line-height: 150%;
    padding: 10px 0;
    h3 {
        font-size: 16px;
        padding: 10px 0 5px 1px;
    }
    ul {
        padding: 5px 24px;
    }
    p {
        padding: 0 0 15px 0;
        &:last-of-type {
            padding: 0;
        }
    }
    a, a:hover, a:active, a:visited {
        color: $c-color-accent;
        text-decoration: underline;
    }

    &.form__field-medium-editor--collapse-paragraphs {
        p {
            padding: 0;
        }
    }
}

.form__field-medium-editor, textarea {
    transition: 0.3s;
}

// HTML source editor
.form__field {
    .form__field-html-source-editor {
        resize: vertical;
        font-size: 12px;
        font-family: 'Courier', monospace;
        min-height: 250px;
        transition: none;
    }
}

.form-field-list {
    list-style-type: none;
    margin-bottom: 15px;

    li {
        border: solid 1px $c-color-white;
        padding: 25px 15px 15px;
        margin-bottom: 2px;
    }

}

.form__list__action-button {
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px $c-color-light-grey;
    padding: 4px 0 15px 0;
}

.form__validation-list {
    list-style-type: none;
    margin-bottom: 15px;
    transition: 0.3s;

    li {
        margin: 2px 0;
        padding: 5px;
        background-color: $c-color-form-error;
        color: #FFF;
    }
}

/* always present */
.validation-list-transition {
    transition: all 1.3s ease;
    opacity: 1;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.validation-list-enter, .validation-list-leave {
    opacity: 0;
}

.form__footer {
    padding: 40px 0 0 0;

    .left, .center, .right {
        display: flex;
    }

    .left {
        justify-content: flex-start;
    }
    .center {
        justify-content: center;
    }
    .right {
        justify-content: flex-end;
    }
}
