.imageField__fileList {
    list-style: none;
    padding: 0;
}

.fileList__item {
    position: relative;
    background: $c-color-white;
}

// Override ImageTile for this specific field.
.fileList__item .imageTile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 120px;
    border-bottom: solid 1px $c-color-light-grey;

    .imageTile__preview {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: solid 1px $c-color-light-grey;
    }

    .imageTile__info {
        width: auto;
        position: static;
        height: auto;
        flex-grow: 1;
        background-color: transparent;
        color: initial;
        padding: 20px;
        letter-spacing: 1px;

        .name {
            line-height: 26px;
            font-size: 16px;
        }

        .filesize {
            font-weight: 200;
        }
    }

    .imageTile__info__actions {
        button {
            color: initial;
        }
    }

}

.loading-spinner {
    border: 2px solid $c-color-light-grey;
    border-top: 2px solid $c-color-faded-grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: loading-spin 2s linear infinite;
}

@keyframes loading-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
