ul.pager {

    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 15px 0;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 33px;
        border-bottom: solid 1px $c-color-medium-grey;
    }

    li {
        margin: 0 10px;
        color: $c-color-white;
    }

    li a {
        text-decoration: none;
        padding: 9px 11px;
        background-color: $c-color-bg;
        color: $c-color-text-light;
        height: 30px;
        display: inline-block;
        margin-right: 2px;
        cursor: pointer;

        &:hover, &:active {
            text-decoration: none;
        }
    }

    li a:hover, li.active a {
        background-color: $c-color-accent;
    }

}
