.relation-list {
    list-style: none;
    padding: 0;
}

.relation-list__item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: solid 1px $c-color-light-grey;
    cursor: pointer;
    z-index: 1;
}

.relation-list__item__inner {
    flex-grow: 1;
    min-width: 0; //https://css-tricks.com/flexbox-truncated-text/

    .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 150%;
        -webkit-font-smoothing: antialiased;
    }

    .text {
        font-size: 16px;
        line-height: 24px;
    }
}


.relation-list__item__header {
    position: relative;
    background: transparent;
    padding-left: 20px;

    .checkbox-col {
        flex-basis: 50px;
        max-width: 50px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(150deg, $c-color-accent-gradient-light 50%, $c-color-accent-gradient-dark);
        z-index: -1;
        opacity: 0;
        transition: all 0.1s;
    }

    &:hover {
        color: $c-color-white;
        &:after {
            opacity: 1;
        }
    }
}

.relation-list__item--active {
    > .relation-list__item__inner > .relation-list__item__header {
        background: $c-color-text;
        color: $c-color-white;
    }
}

.relation-list__item__body {
    padding: 20px;
    border: solid 1px black;
}
