.staticfieldlist {
    list-style: none;
}


.staticfieldlist__item {
    border-left: solid 1px $c-color-text-light;
    border-right: solid 1px $c-color-text-light;
    border-bottom: solid 1px $c-color-text-light;
    padding: 15px;

    .col--delete {
        text-align: center;
    }
}
