.nav-tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 60px;

    li {
        margin-right: 2px;
        a {
            min-width: 120px;
            display: inline-block;
            text-align: center;
            padding: 20px;
            background-color: $c-color-bg;
            color: $c-color-text-light;
            cursor: pointer;
            border-left: 1px solid $c-color-white;
            border-right: 1px solid $c-color-white;
        }
    }

    li.active a {
        box-shadow: 0 -2px 0 0 $c-color-accent;
        background-color: transparent;
        color: $c-color-text;
    }
}
