.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 36px;
    background: $c-color-bg;
    border-bottom: 1px solid #fff;
    color: #fff;

    .button {
        border-radius: 0;
        width: 100%;
        height: 100%;
        padding: 10px 5px;
        display: block;
        &:hover, &:focus {
            color: #000;
            background: #fff;
        }
    }
}

.top-menu__inner {
    opacity: 0;
    max-width: $c-site-max-width;
    margin: 0 auto;
    padding-right: $c-site-padding;
    animation: fadeTopMenuInner 500ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
    @include breakpoint(tablet) {
        padding-right: $c-site-padding-tablet;
    }
    @include breakpoint(desktop) {
        padding-left: $c-site-padding-desktop;
        padding-right: $c-site-padding-desktop;
    }
    @include breakpoint(wide) {
        padding-left: $c-site-padding-wide;
        padding-right: $c-site-padding-wide;
    }
}

@keyframes fadeTopMenuInner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.top-menu__user {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
